<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>%@d</key>
	<string>%@d</string>
	<key>%d days</key>
	<string>%d Tage</string>
	<key>%d hours</key>
	<string>%d Stunden</string>
	<key>%d minutes</key>
	<string>%d Minuten</string>
	<key>%d seconds</key>
	<string>%d Sekunden</string>
	<key>%dd</key>
	<string>%dd</string>
	<key>%dh</key>
	<string>%dh</string>
	<key>%dm</key>
	<string>%dm</string>
	<key>%ds</key>
	<string>%ds</string>
	<key>1 day</key>
	<string>1 Tag</string>
	<key>1 hour</key>
	<string>1 Stunde</string>
	<key>1 minute</key>
	<string>1 Minute</string>
	<key>1 second</key>
	<string>1 Sekunde</string>
	<key>About</key>
	<string>Über</string>
	<key>Cancel</key>
	<string>Abbrechen</string>
	<key>Cancelled</key>
	<string>Abgebrochen</string>
	<key>Close</key>
	<string>Schließen</string>
	<key>Couldn’t parse JSON data.</key>
	<string>Konnte JSON Daten nicht lesen.</string>
	<key>Dumb Quotes</key>
	<string>Senkrechte Anführungszeichen</string>
	<key>FOLLOW US ON TWITTER</key>
	<string>FOLGE UNS AUF TWITTER</string>
	<key>Invalid Data</key>
	<string>Ungültige Daten</string>
	<key>Leave %@?</key>
	<string>%@ verlassen?</string>
	<key>Network Connection Busy</key>
	<string>Netzwerkverbindung beschäftigt</string>
	<key>Now</key>
	<string>Jetzt</string>
	<key>OFF</key>
	<string>AUS</string>
	<key>ON</key>
	<string>EIN</string>
	<key>OTHER APPS</key>
	<string>ANDERE APPS</string>
	<key>Open</key>
	<string>Öffnen</string>
	<key>Over 1 year</key>
	<string>Über 1 Jahr</string>
	<key>Please try again later.</key>
	<string>Bitte später erneut versuchen.</string>
	<key>Privacy Policy</key>
	<string>Datenschutzrichtlinie</string>
	<key>Request Timed Out</key>
	<string>Zeitüberschreitung bei der Anfrage </string>
	<key>Review %@ on iTunes</key>
	<string>Bewerte %@ auf iTunes</string>
	<key>Smart Quotes</key>
	<string>Typographische Anführungszeichen</string>
	<key>The link is requesting to open an external application. Would you like to continue?</key>
	<string>Der Link möchte eine externe Anwendung öffnen. Wollen Sie fortfahren?</string>
	<key>Today at %@</key>
	<string>Heute um %@</string>
	<key>Unknown Error.</key>
	<string>Unbekannter Fehler.</string>
	<key>We are a tiny two-person company (sometimes three) that loves creating exceptional apps for iOS and the Mac.
Paul codes in Texas and Mark designs in California.</key>
	<string>Wir sind eine kleine zwei (manchmal auch drei) Mann große Firma, die es liebt außergewöhnliche Apps für iOS und Mac zu schreiben.
Paul programmiert in Texas und Mark designed in Kalifornien.</string>
	<key>Which account do you want to follow %@ with?</key>
	<string>Mit welchem Account möchten Sie %@ folgen?</string>
	<key>Yesterday at %@</key>
	<string>Gestern um %@</string>
	<key>Calcbot Preferences</key>
	<string>Calcbot Einstellungen</string>
</dict>
</plist>
