<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Golden Ratio</key>
    <string>Golden Ratio</string>
    <key>Pi</key>
    <string>Pi</string>
    <key>Euler’s Number</key>
    <string>Euler’s Number</string>
    <key>Proton Mass</key>
    <string>Proton Mass</string>
    <key>Neutron Mass</key>
    <string>Neutron Mass</string>
    <key>Electron Mass</key>
    <string>Electron Mass</string>
    <key>Muon Mass</key>
    <string>Muon Mass</string>
    <key>Bohr Radius</key>
    <string>Bohr Radius</string>
    <key>Planck</key>
    <string>Planck</string>
    <key>Nuclear Magneton</key>
    <string>Nuclear Magneton</string>
    <key>Bohr Magneton</key>
    <string>Bohr Magneton</string>
    <key>Fine-Structure Constant</key>
    <string>Fine-Structure Constant</string>
    <key>Classical Electron Radius</key>
    <string>Classical Electron Radius</string>
    <key>Compton Wavelength</key>
    <string>Compton Wavelength</string>
    <key>Proton Gyromagnetic Ratio</key>
    <string>Proton Gyromagnetic Ratio</string>
    <key>Proton Compton Wavelength</key>
    <string>Proton Compton Wavelength</string>
    <key>Neutron Compton Wavelength</key>
    <string>Neutron Compton Wavelength</string>
    <key>Rydberg Constant</key>
    <string>Rydberg Constant</string>
    <key>Atomic Mass</key>
    <string>Atomic Mass</string>
    <key>Proton Magnetic Moment</key>
    <string>Proton Magnetic Moment</string>
    <key>Electron Magnetic Moment</key>
    <string>Electron Magnetic Moment</string>
    <key>Neutron Magnetic Moment</key>
    <string>Neutron Magnetic Moment</string>
    <key>Muon Magnetic Moment</key>
    <string>Muon Magnetic Moment</string>
    <key>Faraday Constant</key>
    <string>Faraday Constant</string>
    <key>Elementary Charge</key>
    <string>Elementary Charge</string>
    <key>Avogadro Constant</key>
    <string>Avogadro Constant</string>
    <key>Boltzmann Constant</key>
    <string>Boltzmann Constant</string>
    <key>Molar Volume of Ideal Gas</key>
    <string>Molar Volume of Ideal Gas</string>
    <key>Molar Gas Constant</key>
    <string>Molar Gas Constant</string>
    <key>Speed of Light</key>
    <string>Speed of Light</string>
    <key>First Radiation Constant</key>
    <string>First Radiation Constant</string>
    <key>Second Radiation Constant</key>
    <string>Second Radiation Constant</string>
    <key>Stefan-Boltzmann Constant</key>
    <string>Stefan-Boltzmann Constant</string>
    <key>Electric Constant</key>
    <string>Electric Constant</string>
    <key>Magnetic Constant</key>
    <string>Magnetic Constant</string>
    <key>Magnetic Flux Quantum</key>
    <string>Magnetic Flux Quantum</string>
    <key>Standard Acceleration of Gravity</key>
    <string>Standard Acceleration of Gravity</string>
    <key>Standard Atmosphere</key>
    <string>Standard Atmosphere</string>
    <key>Conductance Quantum</key>
    <string>Conductance Quantum</string>
    <key>Characteristic Impedance of Vacuum</key>
    <string>Characteristic Impedance of Vacuum</string>
    <key>Celsius Temperature</key>
    <string>Celsius Temperature</string>
    <key>Newtonian Constant of Gravitation</key>
    <string>Newtonian Constant of Gravitation</string>
    <key>Costa Rican Colón</key>
    <string>Costa Rican Colón</string>
    <key>Pa’anga</key>
    <string>Pa’anga</string>
    <key>Kilobits/Sec. (SI)</key>
    <string>Kilobits/Sec. (SI)</string>
    <key>Kilobytes/Sec. (SI)</key>
    <string>Kilobytes/Sec. (SI)</string>
    <key>Megabits/Sec. (SI)</key>
    <string>Megabits/Sec. (SI)</string>
    <key>Megabytes/Sec. (SI)</key>
    <string>Megabytes/Sec. (SI)</string>
    <key>Gigabits/Sec. (SI)</key>
    <string>Gigabits/Sec. (SI)</string>
    <key>Gigabytes/Sec. (SI)</key>
    <string>Gigabytes/Sec. (SI)</string>
    <key>Terabits/Sec. (SI)</key>
    <string>Terabits/Sec. (SI)</string>
    <key>Terabytes/Sec. (SI)</key>
    <string>Terabytes/Sec. (SI)</string>
    <key>Kilobit (SI)</key>
    <string>Kilobit (SI)</string>
    <key>Kilobyte (SI)</key>
    <string>Kilobyte (SI)</string>
    <key>Megabit (SI)</key>
    <string>Megabit (SI)</string>
    <key>Megabyte (SI)</key>
    <string>Megabyte (SI)</string>
    <key>Gigabit (SI)</key>
    <string>Gigabit (SI)</string>
    <key>Gigabyte (SI)</key>
    <string>Gigabyte (SI)</string>
    <key>Terabit (SI)</key>
    <string>Terabit (SI)</string>
    <key>Terabyte (SI)</key>
    <string>Terabyte (SI)</string>
    <key>Petabit (SI)</key>
    <string>Petabit (SI)</string>
    <key>Petabyte (SI)</key>
    <string>Petabyte (SI)</string>
    <key>Pound/Gallon (Imperial)</key>
    <string>Pound/Gallon (Imperial)</string>
    <key>Gallons/100 Miles UK</key>
    <string>Gallons/100 Miles UK</string>
    <key>Miles/Gallon UK</key>
    <string>Miles/Gallon UK</string>
    <key>10 to the power of</key>
    <string>10 to the power of</string>
    <key>2 to the power of</key>
    <string>2 to the power of</string>
    <key>Error</key>
    <string>Error</string>
    <key>Failed to read conversion rates data. If this error continues to happen contact Tapbots support</key>
    <string>Failed to read conversion rates data. If this error continues to happen contact Tapbots support</string>
    <key>add</key>
    <string>add</string>
    <key>alternate functions</key>
    <string>alternate functions</string>
    <key>clear</key>
    <string>clear</string>
    <key>close parenthesis</key>
    <string>close parenthesis</string>
    <key>constants</key>
    <string>constants</string>
    <key>cosine</key>
    <string>cosine</string>
    <key>cube</key>
    <string>cube</string>
    <key>cube root</key>
    <string>cube root</string>
    <key>decimal</key>
    <string>decimal</string>
    <key>degrees</key>
    <string>degrees</string>
    <key>delete</key>
    <string>delete</string>
    <key>divide</key>
    <string>divide</string>
    <key>ee engineering exponent</key>
    <string>ee engineering exponent</string>
    <key>equal</key>
    <string>equal</string>
    <key>exponential</key>
    <string>exponential</string>
    <key>factorial</key>
    <string>factorial</string>
    <key>favorites</key>
    <string>favorites</string>
    <key>hyperbolic cosine</key>
    <string>hyperbolic cosine</string>
    <key>hyperbolic sine</key>
    <string>hyperbolic sine</string>
    <key>hyperbolic tangent</key>
    <string>hyperbolic tangent</string>
    <key>inverse cosine</key>
    <string>inverse cosine</string>
    <key>inverse hyperbolic cosine</key>
    <string>inverse hyperbolic cosine</string>
    <key>inverse hyperbolic sine</key>
    <string>inverse hyperbolic sine</string>
    <key>inverse hyperbolic tangent</key>
    <string>inverse hyperbolic tangent</string>
    <key>inverse sine</key>
    <string>inverse sine</string>
    <key>inverse tangent</key>
    <string>inverse tangent</string>
    <key>log base 10</key>
    <string>log base 10</string>
    <key>log base 2</key>
    <string>log base 2</string>
    <key>logarithm</key>
    <string>logarithm</string>
    <key>multiply</key>
    <string>multiply</string>
    <key>natural log</key>
    <string>natural log</string>
    <key>open parenthesis</key>
    <string>open parenthesis</string>
    <key>percent</key>
    <string>percent</string>
    <key>plus, minus</key>
    <string>plus, minus</string>
    <key>power</key>
    <string>power</string>
    <key>radians</key>
    <string>radians</string>
    <key>random</key>
    <string>random</string>
    <key>reciprocal</key>
    <string>reciprocal</string>
    <key>reeverse power</key>
    <string>reeverse power</string>
    <key>root</key>
    <string>root</string>
    <key>round</key>
    <string>round</string>
    <key>sine</key>
    <string>sine</string>
    <key>square</key>
    <string>square</string>
    <key>square root</key>
    <string>square root</string>
    <key>subtract</key>
    <string>subtract</string>
    <key>tangent</key>
    <string>tangent</string>
    <key>Pixel (300 dpi)</key>
    <string>Pixel (300 dpi)</string>
    <key>Pixel (150 dpi)</key>
    <string>Pixel (150 dpi)</string>
    <key>Pixel (96 dpi)</key>
    <string>Pixel (96 dpi)</string>
    <key>Pixel (72 dpi)</key>
    <string>Pixel (72 dpi)</string>
    <key>Drop (Imperial)</key>
    <string>Drop (Imperial)</string>
    <key>Dash (Imperial)</key>
    <string>Dash (Imperial)</string>
    <key>Pinch (Imperial)</key>
    <string>Pinch (Imperial)</string>
    <key>Teaspoon (Metric)</key>
    <string>Teaspoon (Metric)</string>
    <key>Teaspoon (Imperial)</key>
    <string>Teaspoon (Imperial)</string>
    <key>Tablespoon (Metric)</key>
    <string>Tablespoon (Metric)</string>
    <key>Tablespoon (Imperial)</key>
    <string>Tablespoon (Imperial)</string>
    <key>Ounce (Imperial)</key>
    <string>Ounce (Imperial)</string>
    <key>Gill (Imperial)</key>
    <string>Gill (Imperial)</string>
    <key>Cup (Metric)</key>
    <string>Cup (Metric)</string>
    <key>Cup (Imperial)</key>
    <string>Cup (Imperial)</string>
    <key>Pint (Imperial)</key>
    <string>Pint (Imperial)</string>
    <key>Quart (Imperial)</key>
    <string>Quart (Imperial)</string>
    <key>Gallon (Imperial)</key>
    <string>Gallon (Imperial)</string>
    <key>Beer Barrel (Imperial)</key>
    <string>Beer Barrel (Imperial)</string>
    <key>Gallon/Day (Imperial)</key>
    <string>Gallon/Day (Imperial)</string>
    <key>Gallon/Min. (Imperial)</key>
    <string>Gallon/Min. (Imperial)</string>
    <key>Gallon/Sec. (Imperial)</key>
    <string>Gallon/Sec. (Imperial)</string>
    <key>Access to the special pro theme.</key>
    <string>Access to the special pro theme.</string>
    <key>Add your own values and labels to the constants menu.</key>
    <string>Add your own values and labels to the constants menu.</string>
    <key>COMPANY</key>
    <string>COMPANY</string>
    <key>CONVERSION</key>
    <string>CONVERSION</string>
    <key>Calcbot Calculation</key>
    <string>Calcbot Calculation</string>
    <key>Calcbot Calculations</key>
    <string>Calcbot Calculations</string>
    <key>Clear Tape</key>
    <string>Clear Tape</string>
    <key>Contact Us</key>
    <string>Contact Us</string>
    <key>Convert with over 200 units across 20 conversion categories.</key>
    <string>Convert with over 200 units across 20 conversion categories.</string>
    <key>Custom Constants.</key>
    <string>Custom Constants.</string>
    <key>Dark Ninja</key>
    <string>Dark Ninja</string>
    <key>Disable All</key>
    <string>Disable All</string>
    <key>Enable All</key>
    <string>Enable All</string>
    <key>Fav an item in the history tape for quick access here.</key>
    <string>Fav an item in the history tape for quick access here.</string>
    <key>Fave a Calculation to Show it Here.</key>
    <string>Fave a Calculation to Show it Here.</string>
    <key>Light Ninja</key>
    <string>Light Ninja</string>
    <key>Loading…</key>
    <string>Loading…</string>
    <key>Mark’s Office</key>
    <string>Mark’s Office</string>
    <key>Number from Calcbot</key>
    <string>Number from Calcbot</string>
    <key>Otaku</key>
    <string>Otaku</string>
    <key>PRO</key>
    <string>PRO</string>
    <key>Pro</key>
    <string>Pro</string>
    <key>Pro Theme.</key>
    <string>Pro Theme.</string>
    <key>Purchase this theme pack and get the following %@ themes:</key>
    <string>Purchase this theme pack and get the following %@ themes:</string>
    <key>Remove the 10 record limit and never lose a calculation again.</key>
    <string>Remove the 10 record limit and never lose a calculation again.</string>
    <key>Restore Purchased Themes</key>
    <string>Restore Purchased Themes</string>
    <key>Retro</key>
    <string>Retro</string>
    <key>Round for Currency</key>
    <string>Round for Currency</string>
    <key>Send to Calculator</key>
    <string>Send to Calculator</string>
    <key>Show All Conversion Results</key>
    <string>Show All Conversion Results</string>
    <key>Standard</key>
    <string>Standard</string>
    <key>THEME PACKS</key>
    <string>THEME PACKS</string>
    <key>Tape Entry</key>
    <string>Tape Entry</string>
    <key>Theme Pack 1</key>
    <string>Theme Pack 1</string>
    <key>Theme Pack 2</key>
    <string>Theme Pack 2</string>
    <key>Themes</key>
    <string>Themes</string>
    <key>Unit Conversions.</key>
    <string>Unit Conversions.</string>
    <key>Unlimited History Tape.</key>
    <string>Unlimited History Tape.</string>
    <key>Upgrade to Pro to add your own constants and more.</key>
    <string>Upgrade to Pro to add your own constants and more.</string>
    <key>Upgrade to Pro to convert with over 200 units across 20 categories and more.</key>
    <string>Upgrade to Pro to convert with over 200 units across 20 categories and more.</string>
    <key>Upgrade to Pro to get unlimited history tape records and more.</key>
    <string>Upgrade to Pro to get unlimited history tape records and more.</string>
    <key>Upgrade to pro and get the following benefits:</key>
    <string>Upgrade to pro and get the following benefits:</string>
    <key>Use Expression</key>
    <string>Use Expression</string>
    <key>Use Result</key>
    <string>Use Result</string>
    <key>Attach Tape</key>
    <string>Attach Tape</string>
    <key>Basic</key>
    <string>Basic</string>
    <key>Checking for updated currency rates</key>
    <string>Checking for updated currency rates</string>
    <key>Conversion</key>
    <string>Conversion</string>
    <key>Copy Expression</key>
    <string>Copy Expression</string>
    <key>Could not fetch currency rates</key>
    <string>Could not fetch currency rates</string>
    <key>Detach Tape</key>
    <string>Detach Tape</string>
    <key>Email Tape</key>
    <string>Email Tape</string>
    <key>Hide Conversion</key>
    <string>Hide Conversion</string>
    <key>Hide Tape</key>
    <string>Hide Tape</string>
    <key>Main</key>
    <string>Main</string>
    <key>Please type your message above this line</key>
    <string>Please type your message above this line</string>
    <key>Remove All</key>
    <string>Remove All</string>
    <key>Scientific</key>
    <string>Scientific</string>
    <key>Show Conversion</key>
    <string>Show Conversion</string>
    <key>Show Tape</key>
    <string>Show Tape</string>
    <key>Tape</key>
    <string>Tape</string>
    <key>Type a unit...</key>
    <string>Type a unit...</string>
    <key>Version</key>
    <string>Version</string>
    <key>View</key>
    <string>View</string>
    <key>You cannot deselect every enabled conversion unit.</key>
    <string>You cannot deselect every enabled conversion unit.</string>
    <key>You cannot deselect the last enabled conversion unit.</key>
    <string>You cannot deselect the last enabled conversion unit.</string>
    <key>You need at least one enabled conversion unit</key>
    <string>You need at least one enabled conversion unit</string>
    <key>calculated result</key>
    <string>calculated result</string>
    <key>conversion category chooser</key>
    <string>conversion category chooser</string>
    <key>conversion category picker</key>
    <string>conversion category picker</string>
    <key>conversion from unit</key>
    <string>conversion from unit</string>
    <key>conversion from unit symbol</key>
    <string>conversion from unit symbol</string>
    <key>conversion to unit</key>
    <string>conversion to unit</string>
    <key>conversion to unit symbol</key>
    <string>conversion to unit symbol</string>
    <key>current expression</key>
    <string>current expression</string>
    <key>display options segmented control</key>
    <string>display options segmented control</string>
    <key>favorite expression</key>
    <string>favorite expression</string>
    <key>hide conversion</key>
    <string>hide conversion</string>
    <key>hide tape</key>
    <string>hide tape</string>
    <key>saved expression</key>
    <string>saved expression</string>
    <key>saved result</key>
    <string>saved result</string>
    <key>show conversion</key>
    <string>show conversion</string>
    <key>show favorited saved expressions</key>
    <string>show favorited saved expressions</string>
    <key>show tape</key>
    <string>show tape</string>
    <key>show tape of saved expressions</key>
    <string>show tape of saved expressions</string>
    <key>swap from and to conversion units</key>
    <string>swap from and to conversion units</string>
    <key>table of favorited expressions</key>
    <string>table of favorited expressions</string>
    <key>table of saved expressions</key>
    <string>table of saved expressions</string>
    <key>tape options segmented control</key>
    <string>tape options segmented control</string>
    <key>tape settings button</key>
    <string>tape settings button</string>
    <key>unfavorite expression</key>
    <string>unfavorite expression</string>
    <key>Large Type</key>
    <string>Large Type</string>
    <key>Tap on the current category icon to quickly enable/disable units.</key>
    <string>Tap on the current category icon to quickly enable/disable units.</string>
    <key>Pull down on the display to reveal the history tape.</key>
    <string>Pull down on the display to reveal the history tape.</string>
    <key>Hold down the delete key to clear the expression.</key>
    <string>Hold down the delete key to clear the expression.</string>
    <key>Swipe right across the display to access conversion mode.</key>
    <string>Swipe right across the display to access conversion mode.</string>
  </dict>
</plist>
